{% extends 'base.html' %}

{% block title %}Pesagens Pendentes de Saída{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Pesagens Pendentes de Saída</h1>

    <!-- Exibição da Tabela de Registros Pendentes -->
    <div class="card">
        <div class="card-header bg-primary text-white">
            Lista de Pesagens Pendentes
        </div>
        <div class="card-body">
            {% if registros_pendentes %}
                <!-- Tabela Responsiva -->
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Placa</th>
                                <th>Documento</th>
                                <th>Peso Entrada</th>
                                <th>Data Entrada</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for registro in registros_pendentes %}
                                <tr>
                                    <td>{{ registro.placa }}</td>
                                    <td>{{ registro.numero_documento }}</td>
                                    <td>{{ registro.peso_entrada |date:"d/m/Y H:i" }} kg</td>
                                    <td>{{ registro.data_entrada |date:"d/m/Y H:i"}}</td>
                                    <td>
                                        <a href="{% url 'pesagem:registrar_peso_saida' registro.id %}" class="btn btn-primary btn-sm">
                                            Registrar Peso de Saída
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="text-warning">Nenhum registro pendente de saída.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
